<div class="ui-g-12 ui-lg-6">
  <div class="card">
    <h1 class="center-text">Incomes</h1>
    <p-chart *ngIf="incomes" type="pie" [data]="incomes"></p-chart>
  </div>
</div>
<div class="ui-g-12 ui-lg-6">
  <div class="card">
    <h1 class="center-text">Expenses</h1>
    <p-chart *ngIf="expenses" type="pie" [data]="expenses"></p-chart>
  </div>
</div>
<div class="ui-g-12 ui-lg-2"></div>
<div class="ui-g-12 ui-lg-4">
  <div  *ngIf="incomes" class="card">
    <div *ngFor="let label of incomes.labels; let i = index" class="slider">
      <strong>{{label}}</strong>: {{incomes.datasets[0].data[i]}} <p-slider [(ngModel)]="incomes.datasets[0].data[i]" [style]="{'width':'200px'}" [max]="10000" (onSlideEnd)="handleIncomeChange($event, i)"></p-slider>
    </div>
  </div>
  <div class="ui-g-12 ui-lg-12 capital-container">
    <div  *ngIf="totalSavings" class="card">
      <h1>Capital</h1>
      <div *ngFor="let label of totalSavings.labels; let i = index" class="slider">
        <strong>{{label}}</strong>: {{totalSavings.datasets[0].data[i]}} <p-slider [(ngModel)]="totalSavings.datasets[0].data[i]" [min]="0" [max]="10000" [style]="{'width':'200px'}" (onSlideEnd)="handleCapitalChange($event, i)"></p-slider>
      </div>
    </div>
  </div>
</div>
<div class="ui-g-12 ui-lg-2"></div>
<div class="ui-g-12 ui-lg-4">
  <div  *ngIf="expenses" class="card">
    <div *ngFor="let label of expenses.labels; let i = index" class="slider">
      <strong>{{label}}</strong>: {{expenses.datasets[0].data[i]}} <p-slider [(ngModel)]="expenses.datasets[0].data[i]" [min]="0" [max]="10000" [style]="{'width':'200px'}" (onSlideEnd)="handleExpenseChange($event, i)"></p-slider>
   </div>
 </div>
</div>
<div class="ui-g-12 ui-lg-6">
</div>
<div *ngFor="let simulation of simulations">
  <div class="ui-g-12 ui-lg-12">
    <p-fieldset [toggleable]="true">
      <p-header>{{simulation.title}}</p-header>
      <p class="simulationResult">{{simulation.advise}}</p>
    </p-fieldset>
  </div>
</div>

